* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c2c2c;
}
.conteiner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 30px;
}

#wrapper {
  display: block;
  margin-bottom: 18px;
  max-width: 980px;
  min-height: 100px;
  margin: auto;
  position: relative;
}

#slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 3%;
  box-shadow: 17px 11px 20px -11px #0a0a0a;
}

#slider > ul {
  list-style: none;
  height: 100%;
  width: 500%;
  overflow: hidden;
  position: relative;
  left: 0px;
  transition: left 0.5s;
}
#slider > ul > li {
  width: 20%;
  float: left;
  position: relative;
}
#slider > ul > li p {
  padding: 10px;
}

#slider > ul > li > img {
  margin: auto;
  width: 100%;
}
#wrapper input[type="radio"] {
  position: absolute;
  left: 50%;
  bottom: 15px;
  z-index: 100;
  visibility: hidden;
}
#wrapper label {
  position: absolute;
  /* left: 50%; */
  bottom: -50px;
  left: 96%;
  z-index: 100;
  width: 16px;
  height: 16px;
  background: #497fc5;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 100px;
  border: 1px solid #497fc5;
}
#wrapper label:hover {
  background: #ffffff;
}
#wrapper label:active {
  background: #ffffff;
}
#wrapper #radio-btn-1:checked ~ label[for="radio-btn-1"] {
  background: none;
  border: 1px solid #497fc5;
}
#wrapper #radio-btn-2:checked ~ label[for="radio-btn-2"] {
  background: none;
  border: 1px solid #497fc5;
}
#wrapper #radio-btn-3:checked ~ label[for="radio-btn-3"] {
  background: none;
  border: 1px solid #497fc5;
}
#wrapper #radio-btn-4:checked ~ label[for="radio-btn-4"] {
  background: none;
  border: 1px solid #497fc5;
}


#wrapper label[for="radio-btn-1"] {
  /* margin-left: -40px; */
  margin-left: -60px;
}
#wrapper label[for="radio-btn-2"] {
  margin-left: -30px;
}
#wrapper label[for="radio-btn-4"] {
  margin-left: 30px;
}

#wrapper #radio-btn-1:checked ~ #slider > ul {
  left: 0;
}
#wrapper #radio-btn-2:checked ~ #slider > ul {
  left: -100%;
}
#wrapper #radio-btn-3:checked ~ #slider > ul {
  left: -200%;
}
#wrapper #radio-btn-4:checked ~ #slider > ul {
  left: -300%;
}
